/*body {
	font-size: 0;
}*/

.container{
  width: 1440px;
	height: 70px;
  text-align: center;
  display: inline-table;
  border-bottom-style: solid;
  border-bottom-color : C4C4C4;
  border-width:thin;
}

.container2{
  width: 1440px;
	height: 100px;
  display: inline-table;
  vertical-align: center;
  border-bottom-style: solid;
  border-bottom-color : C4C4C4;
  border-width:thin;
}

.container3{
  width: 1440px;
	height: 100px;
  display: inline-table;
  vertical-align: center;
  border-top-style: solid;
  border-top-color : C4C4C4;
  border-width:thin;
}

.box4{
    /*position: absolute;
    top: 15%*/
    position: absolute;
    width: 378px;
    height:30px;
    left: 70px;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 0px;
    color: #000000;
}

.box8{
    /*position: absolute;
    top: 15%*/
    position: absolute;
    width: 378px;
    height:30px;
    left: 70px;
    top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 0px;
    color: #000000;
}

.common{
  text-decoration: none;
  color: #000000;
  list-style:none;
}

.box1 {
	display: inline-block;
	vertical-align: center;
  width: 100px;
	height: 50px;
}


.box2 {
	display: inline-block;
	vertical-align: center;
  text-align: center;
  width: 150px;
	height: 50px;
  display: table-cell;
}

.box3 {
	display: inline-block;
	vertical-align: center;
  width: 50px;
	height: 50px;
}

/* 작성 목록 박스 */
.box5{
position: absolute;
width: 1220px;
height: 230px;
left: 70px;
top: 280px;
display: inline-table;
vertical-align: center;
border-style: solid;
border-color : C4C4C4;
border-width:thin;
}

.box5_title{
  position: absolute;
  width: 161px;
  height: 42px;
  left: 70px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #000000;
}

.box5_text1{
  /* 공동구매 제목*/
  position: absolute;
  left: 300px;
  top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.box5_text2{
  /* 공동구매 내용*/
  position: absolute;
  left: 300px;
  top: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

button{
  width:52px;
	height: 33px;
	color: #000000;
  background:#FFFFFF;
	font-size: 12px;
  border-style: solid;
  border-color : #8E8E8E;
  border-width:thin;
	border-radius: 10px;

/*	transition:0.3s;
	position: absolute;
	left:90%;
	top:50%;
	transform: translate(-90%,-90%);*/
}
button:hover{
	background-color: #F4F4F4;
	cursor: pointer;
}

.button{
    transition:0.3s;
  	position: absolute;
  	left:90%;
  	top:50%;
  	transform: translate(-90%,-90%);
}

/* 작성 목록 박스 */
.box6{
position: absolute;
width: 1220px;
height: 230px;
left: 70px;
top: 630px;
display: inline-table;
vertical-align: center;
border-style: solid;
border-color : C4C4C4;
border-width:thin;
}

.box6_title{
  position: absolute;
  width: 161px;
  height: 42px;
  left: 70px;
  top: 550px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #000000;
}

.box6_text1{
  /* 공동구매 제목*/
  position: absolute;
  left: 300px;
  top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.box6_text2{
  /* 공동구매 내용*/
  position: absolute;
  left: 300px;
  top: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.box6_button{
    width:110px;
    transition:0.3s;
  	position: absolute;
  	left:90%;
  	top:70%;
  	transform: translate(-90%,-90%);
}

.box7{
position: absolute;
width: 1220px;
height: 230px;
left: 70px;
top: 980px;
display: inline-table;
vertical-align: center;
border-style: solid;
border-color : C4C4C4;
border-width:thin;
}

.box7_title{
  position: absolute;
  width: 161px;
  height: 42px;
  left: 70px;
  top: 900px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  color: #000000;
}

.box7_text1{
  /* 공동구매 제목*/
  position: absolute;
  left: 300px;
  top: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
}

.box7_text2{
  /* 공동구매 내용*/
  position: absolute;
  left: 300px;
  top: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
